.pic-description {
    height: 150px;
    width: 150px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 24px;
    border: 1px solid black;
}

.single-item {
    display: inline-block;
    margin: 20px;
}

.form-div {
    margin-bottom: 5px;
}

.input-div {
    display: inline;
    margin: 5px;
}